@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "acme";
    src: url("./src/assets/font/Acme-Regular.ttf") format("truetype");
}

*{
    font-family: "acme";
}